GITHUB_TOKEN="USE YOUR OWN GITHUB TOKEN"
MONGO_CONN="USE YOUR OWN MONGODB CONNECTION STRING"
DB_NAME="ENTER YOUR DB NAME"
JWT_SECRET="CREATE YOUR OWN JWT_SECRET"
UPSTASH_REDIS_REST_URL="ENTER THE URL OF UPSTASH REDIS URL"
UPSTASH_REDIS_REST_TOKEN="ENTER THE TOKEN OF UPSTASH REDIS URL"
GOOGLE_CLIENT_ID="YOUR GOOGLE CLIENT ID"
GOOGLE_CLIENT_SECRET="YOUR GOOGLE CLIENT SECRET"
GOOGLE_CALLBACK_URL="/api/auth/google/callback"
SESSION_SECRET="A_RANDOM_SECRET_STRING"
GEMINI_API_KEY="USE YOUR OWN GEMINI API KEY"
GEMINI_LLM_MODEL="gemini-2.5-flash"
CLOUDINARY_CLOUD_NAME="ENTER YOUR OWN CLOUD NAME"
CLOUDINARY_API_KEY="ENTER YOUR OWN CLOUDINARY API KEY"
CLOUDINARY_API_SECRET="ENTER YOUR OWN API SECRET"
CORS_ORIGIN="ENTER THE FRONTEND URL"
ADMIN_USERNAME="ENTER ANY USERNAME YOU WISH TO SET AS ADMIN USERNAME"
ADMIN_EMAIL="ENTER ANY EMAIL YOU WISH TO SET AS ADMIN EMAIL"
ADMIN_PASSWORD="ENTER ANY PASSWORD YOU WISH TO SET AS ADMIN PASSWORD"
SENDGRID_API_KEY="ENTER THE SENDGRID API KEY"
EMAIL_FROM="ENTER THE EMAIL FROM YOU WISH TO USE"